circle {
    r:5;
    fill: black;
    transition: r 0.5s linear, fill 0.5s linear;
}
svg {
    overflow: visible;
    margin-bottom: 50px;
}
body {
    margin: 20px 40px;
}
table, th, td {
   border: 1px solid black;
}
th, td {
    padding:10px;
    text-align: center;
}
circle:hover {
    r:10;
    fill: blue;
}
